# ==========================================
# VIKUNJA - CONFIGURACIÓN DE ENTORNO
# ==========================================

# Versión a ser posible fija o con el hash
VIKUNJA_VERSION=2.6.0
# Seguridad de la Aplicación
# Generar un hash seguro con: openssl rand -base64 48
VIKUNJA_SERVICE_SECRET=cambiame_por_un_secreto_fuerte_en_portainer
VIKUNJA_SERVICE_PUBLICURL=https://vikunja.home.arpa/

# Red y Traefik
DOMAIN=vikunja.home.arpa
CERT_RESOLVER=stepca # CA local gestionada en tu homelab

# Conexión a Base de Datos Centralizada
DB_HOST=nombre_de_tu_contenedor_mariadb
DB_USER=vikunja
DB_PASSWORD=password_del_usuario_vikunja_en_db
DB_NAME=vikunja

# Configuración de Correo
VIKUNJA_SMTP_SERVER=smtp.gmail.com
VIKUNJA_SMTP_PORT=587
VIKUNJA_MAILER_USERNAME=micorreo@gmail.com
VIKUNJA_MAILER_PASSWORD=app_password_de_google
VIKUNJA_MAILER_FROMEMAIL=micorreo@gmail.com